<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <meta name="keywords" content="山东规范管理创业培训,创业培训;培训讲师;规范管理;"/>
    <meta name="description" content="山东规范管理创业培训,创业培训;培训讲师;规范管理;"/>

    <title>山东规范管理创业培训-《工人日报》2024-04-29-中国知网</title>
    <link rel="stylesheet" href="static/css/public.css"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/newpublic.css"/>
    <link rel="stylesheet" href="static/css/search.css"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/layer.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/json3.js"></script>
    <script src="static/js/search.js"></script>
</head>
<script src="static/js/layui.js"></script>
<script src="static/js/utf.js"></script>
<script src="static/js/jquery.qrcode.js"></script>
<script src="static/js/jsrender.js"></script>
<script src="static/js/common.js"></script>
<script src="static/js/jquery.methods.js"></script>
<script src="static/js/divselect.js"></script>
<body>
<link rel="stylesheet" href="static/css/literature.css"/>
<link rel="stylesheet" href="static/css/literature-artist.css"/>
<link rel="stylesheet" href="static/css/mylayer.css"/>
<style>
    .titlesigntipbut{
        display: inline-block;
        height: 20px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
        color: #333333;
        letter-spacing: -1px;
        border: 1px solid #AEAEAE;
        *vertical-align: middle;
        background-color: #AEAEAE;
        text-decoration-line: none;
    }
</style>
<div>
    <input type="hidden" id="contextPath" value="">
    <input type="hidden" id="springbootActiveProfiles" value="pro">
    <div class="header">
        <div class="headerWrap">
            <div class="hl left clearfix">
                <a class="link logo" target="_blank" href="/">
                    <img src="static/picture/logo.jpg;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
                </a>
                <div class="left all dropdown">
                    <a class="dropdown-toggle"><span>全部分类</span><i class="caret"></i></a>
                    <ul class="dropdown-menu allcat-item-block" style="z-index: 9999;">
                        <div class="allcat-item clearfix">
                            <div class="allcat-item-title allcat-item-title1">
                                期刊
                            </div>
                            <div class="allcat-item-body">
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F09">
                                        文学
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F10">
                                        艺术
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F07">
                                        科普
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F0101">
                                        健康
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F01">
                                        生活
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F04">
                                        教育
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1710">
                                        财经
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F0601">
                                        管理
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F14">
                                        军事
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F15">
                                        法律
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F11">
                                        政治
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1705">
                                        医学
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1704">
                                        农业科技
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1702">
                                        工程科技
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1709">
                                        信息科技
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1706">
                                        哲学人文
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1708">
                                        社会科学
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/list.aspx?cate=F1701">
                                        基础科学
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="allcat-item clearfix">
                            <div class="allcat-item-title allcat-item-title2">
                                图书
                            </div>
                            <div class="allcat-item-body">
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=A&classcodeGrade=1">
                                        文学艺术
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=B01&classcodeGrade=2">
                                        历史传记
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=D&classcodeGrade=1">
                                        思想文化
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=C&classcodeGrade=1">
                                        常识科普
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=I&classcodeGrade=1">
                                        财富创业
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=J&classcodeGrade=1">
                                        IT互联网
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=E&classcodeGrade=1">
                                        生活休闲
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=H02&classcodeGrade=2">
                                        健康保健
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/xinke/search?classcode=G02&classcodeGrade=2">
                                        孕产育儿
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="allcat-item clearfix">
                            <div class="allcat-item-title allcat-item-title3">
                                工具书
                            </div>
                            <div class="allcat-item-body">
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0001">
                                        汉语词典
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0002">
                                        双语词典
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0004">
                                        专科辞典
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0005">
                                        百科全书
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0008">
                                        人物传记
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0006">
                                        图鉴图录
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0007">
                                        医药图谱
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?typecode=rc0009">
                                        行业手册
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/reference/books.aspx?hotsubject=%u9274%u8D4F">
                                        鉴定鉴赏
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="allcat-item clearfix">
                            <div class="allcat-item-title allcat-item-title4">
                                文献
                            </div>
                            <div class="allcat-item-body">
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA">
                                        期刊文献
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA">
                                        博士论文
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA">
                                        硕士论文
                                    </a>
                                </div>
                                <div class="allcat-item-line clearfix">
                                    <a class="allcat-subitem" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA">
                                        会议论文
                                    </a>
                                    <a class="allcat-subitem" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA">
                                        报纸
                                    </a>

                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <a class="link" target="_blank" href="/magazine/">期刊</a>
                <a class="link" target="_blank" href="/xinke/">图书</a>
                <a class="link" target="_blank" href="/reference/">工具书</a>
                <a class="link" target="_blank" href="/magazine/search/;jsessionid=6C62922F041D5B9F726886EB4A9A68BA?t=5">文献</a>
                <a class="link" target="_blank" href="https://member.cnki.net" style="width: 48px; height: 18px; margin: 24px 10px 0; padding: 0">
                    <img style="display: block" src="static/picture/badge-vip.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt=""/>
                </a>
                <a class="link link-color" target="_blank" href="/GoCart.aspx?c=1">购物车</a>
                <a class="link" target="_blank" href="https://member.cnki.net/microapp/appstore">小微应用</a>
            </div>
            <div class="search-box left">
                <div class="left dropdown">
                    <a class="dropdown-toggle cursor current-selectCode" data-code="1"><span>期刊</span><i class="caret"></i></a>
                    <ul class="dropdown-menu" style="z-index: 9999;">
                        <li><a class="cursor" data-code="0">全部</a></li>
                        <li><a class="cursor" data-code="1">期刊</a></li>
                        <li><a class="cursor" data-code="3">图书</a></li>
                        <li><a class="cursor" data-code="4">工具书</a></li>
                        <li><a class="cursor" data-code="5">文献</a></li>
                    </ul>
                </div>
                <input type="text" class="search-input" id="headq" autocomplete="off" value="" maxlength="40" onkeyup="textChanged(event);" onkeydown="return tabfix(this.value,event,this);" onblur="onblurSearchTextHandler(this)" onclick="onclickSearchTextHandler(this)">
                <a class="search-btn cursor" onclick="return doHeadSearch();"></a>
                <a class="search-btn-aiplus cursor" onclick="return doHeadSearch_aiplus();"></a>
                <input type="hidden" id="searchtype" value="1">
                <p style="display:none;">
                    <label class="displayList">
                        kIndex
                    </label>
                    <input class="nodisplay" type="text" id="keyIndex"/>
                </p>
                <p style="display:none;">
                    <label class="displayList">
                        rev
                    </label>
                    <input class="nodisplay" type="text" id="sortIndex"/>
                </p>
                <div id="results" class="results0"></div>
            </div>
            <div class="hr right">
                <div class="hrlink clearfix">
                    <a class="app">下载App</a>
                    <img id="headqrcode" src="static/picture/qrcode.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" style="z-index: 10000;display: none;position: absolute;right: -48px;top: 40px;" alt="下载客户端">
                </div>
                <block>
                    <a id="register" href="/magazine/register;jsessionid=6C62922F041D5B9F726886EB4A9A68BA?p=https://mall.cnki.net/magazine/article/CCND/GRRB202404290062.htm">注册</a>
                    <div class="line"></div>
                    <a id="login" href="/magazine/login;jsessionid=6C62922F041D5B9F726886EB4A9A68BA?p=https://mall.cnki.net/magazine/article/CCND/GRRB202404290062.htm">登录</a>
                </block>
                
            </div>
        </div>
    </div>

<script>

    //回车搜索
    $("body").on("keydown","#headq",function(e){
        if (e.keyCode == 13) {
            doHeadSearch();
        }
    });
    // 检索框下拉列表项选中
    $('.header .search-box .dropdown-menu li').on('click', function () {
        var text = $(this).find("a").text();
        var dropdownToggle = $(this).parent('.dropdown-menu').siblings('.dropdown-toggle');
        dropdownToggle.find('span').text(text);
        var selectedCode = $(this).find("a").attr("data-code");
        $(".header .search-box .current-selectCode").attr("data-code", selectedCode);
        $("#searchtype").val(selectedCode);
    });
    $(function () {
        $('.header .dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true).slideToggle();
        });

        //头部二维码展示隐藏
        $('.hrlink .app').hover(function () {
            $('#headqrcode').css('display', 'block');
        }, function () {
            $('#headqrcode').css('display', 'none');
        })

        $(window).scroll(function () {
            var A = $(window).scrollTop();
            if (A > 0) {
                $('.header').addClass('fixed');
            } else {
                $('.header').removeClass('fixed');
            }
        });
    });
</script>
</div>
<div>
    <div class="sidebar-links">
        <a href="javascript:void(0);" class="sidebar-link">
            <img class="sidebar-img" src="static/picture/nav2.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
            <div class="sidebar-text">APP</div>
            <div class="sidebar-pic-block">
                <img src="static/picture/nav4.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
                <div class="sidebar-pic-text">
                    知网阅读App
                </div>
            </div>
        </a>
        <a href="javascript:void(0);" onclick="OpenWin_TTKN400(300,'客服个人咨询',101001,'知网阅读')" class="sidebar-link"
           id="feedback_layer">
            <img class="sidebar-img" src="static/picture/nav3.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
            <div class="sidebar-text">在线客服</div>
        </a>
        <a href="https://a.cnki.net/home" class="sidebar-link goTop" target="_blank">
            <img class="sidebar-img" src="static/picture/nav_adpromo.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="知网推广">
            <div class="sidebar-text">知网推广</div>
        </a>
        <a href="javascript:void(0);" class="sidebar-link goTop">
            <img class="sidebar-img" src="static/picture/nav-top.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
            <div class="sidebar-text">返回顶部</div>
        </a>
    </div>
    <script type="text/javascript">
        (function () {

            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > 150) {
                    $('.sidebar-links').show();
                } else {
                    $('.sidebar-links').hide();
                }
            })
            // 返回顶部
            $('.sidebar-links .goTop').on('click', function () {
                $('html,body').animate({scrollTop: 0}, 800);
                /*$('.header').removeClass('fixed');*/
            });

        })()
    </script>
</div>
<input type="hidden" value="" id="username">
<input type="hidden" value="https://mall.cnki.net/magazine/article/CCND/GRRB202404290062.htm" id="currentPageUrl">
<input type="hidden" id="contextPath" value="">

<!--局部模板-->

    

<div id="layercataloglist" class="ml-alert" style="display: none">
    <div class="ml-alert-main">
        <div class="ml-title-block">
            <div class="ml-title">
                文章目录
            </div>
        </div>
        <div class="ml-body">
    
</div>
    </div>
        <a href="https://pay.cnki.net/zscsdoc/download?flag=mall&amp;plat=mall&amp;filename=GRRB202404290062&amp;dbtype=CCND&amp;dtype=pdf" target="_blank" class="ml-alert-btn">
            阅 读 全 文
        </a>
</div>
<div class="articelWrap no-category clearfix">
    
    <div class="al left">
        <div class="atop">
            <span class="logo"></span>
            <h1 class="title">
                <span>山东规范管理创业培训</span>
                
                
            </h1>
            <p class="author">
                <span>杨沛霖</span>
                <a href="https://wenku.cnki.net/reader/guide/introduce" class="but_wenku" target="_blank" title="开通知网号">开通知网号</a>
            </p>
            <div class="paragraph">
                <div>本报讯（记者田国垒 通讯员范洪艳）山东省人社厅等5部门日前印发《山东省创业培训管理暂行办法》（以下简称《办法》），进一步规范创业培训工作，加强对创业培训的指导、监督和评估，力争培养更多优秀创业人才。
《办法》规定，创业培训机构应具备独立的法人资格、健全的管 <span>（共1页)</span></div>
            </div>
            <div class="keyword clearfix">
                <div class="keyword-label">
                    关键词
                </div>
                <div  class="keyword-items clearfix">
                    <div class="keyword-item clearfix">
<!--                        <a th:href="@{'https://mall.cnki.net/mallsearch/home/article?keys='+${T(net.cnki.mall.magazine.utils.CommUtils).urlencode(keyword,'UTF-8')}}" target="_blank" class="keyword-text" th:text="${keyword}"></a>-->
                        <a href="/mallsearch/home/article;jsessionid=6C62922F041D5B9F726886EB4A9A68BA" target="_blank" class="keyword-text">创业培训</a>
                        <a onClick="showMean(this);" data-id="创业培训" data-kzt="G116;H126;J152;" class="keyword-click">释</a>
                    </div>
                    <div class="keyword-item clearfix">
<!--                        <a th:href="@{'https://mall.cnki.net/mallsearch/home/article?keys='+${T(net.cnki.mall.magazine.utils.CommUtils).urlencode(keyword,'UTF-8')}}" target="_blank" class="keyword-text" th:text="${keyword}"></a>-->
                        <a href="/mallsearch/home/article;jsessionid=6C62922F041D5B9F726886EB4A9A68BA" target="_blank" class="keyword-text">培训讲师</a>
                        <a onClick="showMean(this);" data-id="培训讲师" data-kzt="G116;H126;J152;" class="keyword-click">释</a>
                    </div>
                    <div class="keyword-item clearfix">
<!--                        <a th:href="@{'https://mall.cnki.net/mallsearch/home/article?keys='+${T(net.cnki.mall.magazine.utils.CommUtils).urlencode(keyword,'UTF-8')}}" target="_blank" class="keyword-text" th:text="${keyword}"></a>-->
                        <a href="/mallsearch/home/article;jsessionid=6C62922F041D5B9F726886EB4A9A68BA" target="_blank" class="keyword-text">规范管理</a>
                        <a onClick="showMean(this);" data-id="规范管理" data-kzt="G116;H126;J152;" class="keyword-click">释</a>
                    </div>
                </div>
            </div>
            <div class="keyword keyword-source">
                来源：<span>山东商报  2024年  报纸</span>
            </div>
            
            <div class="handler clearfix item">
                <a href="https://aiplus.cnki.net/aiplus/direct?cid=ej2SWquW5gBq_Gl3or4FRCguvC2CjOxn-PP883Y-PpEZBwvdul0rEYhJmNG862zOYdOwiF3Jqwqen-i-j0oXkBBrnXIw59wCObmuWpkJ3rxAEtKo81YxRTEQA0d1LVVD6zrki7SnUNHVLxvvyrCIfw!!&amp;mimetype=xml" class="btn orgNoRight articledownload" target="_blank">
                    <img src="static/picture/btn_aiplus.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba">
                </a>
                <!-- PDF下载 -->
<!--                <a th:href="@{'https://pay.cnki.net/zscsdoc/download?flag=mall&plat=mall&filename='+${artilce.FileName}+'&dbtype='+${artilce.Type}+'&dtype='}+(${artilce.Type eq 'CMFD' or artilce.Type eq 'CDFD'}?'caj':'pdf')" th:if="${canDownload eq '1'}" class="btn orgNoRight articledownload"  target="_blank">-->
<!--                    <img th:src="static/picture/@{${artilce.type eq'CMFD' or artilce.Type eq 'CDFD'}?'/magazine/images/literature/licon33.png':'/magazine/images/literature/licon38.png'}">-->
<!--                    <span th:text="${artilce.Type eq 'CMFD' or artilce.Type eq 'CDFD'}?'CAJ全文下载':'PDF全文下载'"></span>-->
<!--                </a>-->
                <a href="https://pay.cnki.net/zscsdoc/download?flag=mall&amp;plat=mall&amp;filename=GRRB202404290062&amp;dbtype=CCND&amp;dtype=pdf" class="btn orgNoRight articledownload"  target="_blank">
                    <img src="static/picture/licon38.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba">
                    <span>PDF全文下载</span>
                </a>
                
<!--                +(${artilce.Type eq 'CMFD' or artilce.Type eq 'CDFD'}?'caj':'pdf')-->
                <!-- 订阅本刊-->
                <!-- <a class="btn orgNoRight articledownload" href="" target="_blank">
                    <img src="static/picture/licon32.png">
                </a> -->
                <div class="ewm">
                    <img src="static/picture/licon28.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba">
                    <div class="pop">
                        <div id="qrcodeCanvas" class="qrcode" style="margin: 10px;"></div>
<!--                        <img th:src="static/picture/bea34c42fb2e49faab3bc6cd8a0f3fd0.gif'https://mall.cnki.net/QRCode.aspx?t=5&dbt='+${artilce.Type}+'&code='+${artilce.FileName}+'&s=145&ds=42'}"-->
<!--                             th:onerror="@{javascript:this.src='/magazine/images/bookstore/nav4.png';this.onerror=null;}" style="margin: 10px; width: 145px; height: 145px;" width="145" height="145" alt="">-->
<!--                        <img th:src="static/picture/wju8w4.jpg}" style="width: 35px;height: 32px;position: absolute;margin-left: -100px;margin-top: 67px;">-->
                        <p>安装手机知网App<br>手机同步看</p>
                    </div>
                </div>
                <a href="https://cx.cnki.net/"  style="position: absolute;right: 98px;top: 14px;color: #2b87f8;font-family: 'Microsoft Yahei';font-size: 14px;" target="_blank">个人查重 &gt;&gt;</a>
            </div>
            
<!--            <div class="operate">-->
<!--                &lt;!&ndash; 加上collected就是已经收藏的深色小图标 &ndash;&gt;-->
<!--&lt;!&ndash;                <a style="cursor: pointer" class="collect  collected collectA" id="collect" data-is-collected="0">收藏</a>&nbsp;|&nbsp;<a href="javascript:;" class="share" data-type="1">分享</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <div data-type="3" id="sharebox" class="sharebox bdsharebuttonbox bdshare-button-style0-32" style="display: none;" data-bd-bind="1619606458280">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="javascript:;" class="qq" data-cmd="qzone" title="分享到QQ空间"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="javascript:;" class="wx" data-cmd="weixin" title="分享到微信"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="javascript:;" class="wb" data-cmd="tsina" title="分享到新浪微博"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <head th:include="bsharelayout :: bshare_2"></head>-->
<!--            </div>-->
          <!--  <div class="vip-guidebar clearfix">
                <div class="text">开通季卡/年卡，优惠更多</div>
                <a class="btn-open" href="https://pay.cnki.net/zscsdoc/cardcenter" target="_blank">立即开通</a>
            </div>-->

            <div class="vip-hy clearfix">
                <img  src="static/picture/icon-hg.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="" class="vip-hy-img">
                <div class="vip-hy-text">
                    开通会员更优惠，尊享更多超值权益
                </div>
                <a href="https://member.cnki.net/kcenter/memcard/buy?tt=0" target="_blank" class="vip-hy-btn">
                    立即开通 >
                </a>
            </div>

            
        </div>
        <div>
    <div class="recommend" id="relevantjournals" style="display: none;">
        <div class="recommend-header clearfix">
            <span class="recommend-title left">相关期刊<a class="change" href="javascript:;" data-type="1">换一换</a></span>
            <a class="recommend-tab right" target="_blank" href="https://mall.cnki.net/magazine/index.aspx">
                查看更多&gt;
            </a>
        </div>
        <div class="recommend-body">
            <div class="recommend-items active clearfix">

            </div>
        </div>
    </div>


    <div class="recommend" id="relevantbooks" style="display: none;">
        <div class="recommend-header clearfix">
            <span class="recommend-title left">相关电子书<a class="change" href="javascript:;" data-type="2">换一换</a></span>
            <a class="recommend-tab right" target="_blank" href="https://mall.cnki.net/xinke/">
                查看更多&gt;
            </a>
        </div>
        <div class="recommend-body">
            <div class="recommend-items active clearfix">

            </div>
        </div>
    </div>
    <div class="recommend" id="relevanttoolbooks" style="display: none;">
        <div class="recommend-header clearfix">
            <span class="recommend-title left">相关工具书<a class="change" href="javascript:;" data-type="3">换一换</a></span>
            <a class="recommend-tab right" target="_blank" href="https://mall.cnki.net/reference/index.aspx" >
                查看更多&gt;
            </a>
        </div>
        <div class="recommend-body recommend-body0">
        </div>
    </div>

    <script>
        var mallWebsiteDomainUrl="https://mall.cnki.net";
        var contextPath = $("#contextPath").val();
        let recom={
            data:{
                reqUrl:{
                    journals:mallWebsiteDomainUrl+'/uc/RecommendMagazine.ashx?jsoncallback=?&v='+Math.random(),
                    book:mallWebsiteDomainUrl+'/xinke/search/SearchBookListAPI?jsoncallback=?&v='+Math.random(),
                    toolBook:mallWebsiteDomainUrl+'/uc/RecommendReference.ashx?jsoncallback=?&v='+Math.random(),
                    bookdetailUrl:mallWebsiteDomainUrl+'/Xinke/web/Info/',
                    magadetailUrl:contextPath+'/magazine/magadetail/',
                    journalsPicUrl:'//c61.cnki.net/CJFD/mid/',
                },
                param:{
                    kzj:"G" || "F",
                    kzt:"G116" || "F089",
                    k_zt:"G116" ||"F089",
                    count: 6,
                    Code:"G116"|| "F089"
                },
                recomRequested:false
            },
            getPeriodStrByCode:function(code){
                let periodStr='';
                if(code!=undefined && code.length==10 ){
                    periodStr=code.substr(4,4)+"年"+code.substr(8,2)+"期";
                }
                return periodStr;
            },
            getRelevantJournals:function(){
                let that=this;
                let postParams={
                    kzj:that.data.param.kzj,
                    kzt:that.data.param.kzt,
                    count: that.data.param.count,
                };
                that.reqData(that.data.reqUrl.journals,postParams,that.renderRelevantJournals);
            },
            getRelevantBooks:function(){
                let that=this;
                let postParams={
                    k_zt:that.data.param.k_zt,
                    count: that.data.param.count
                };
                that.reqData(that.data.reqUrl.book,postParams,that.renderRelevantBooks);
            },
            getRelevantToolBooks:function(){
                let that=this;
                let postParams={
                    code:that.data.param.Code,
                    count: that.data.param.count
                };
                that.reqData(that.data.reqUrl.toolBook,postParams,that.renderRelevantToolBooks);
            },
            renderRelevantJournals:function(res){

                if (res.ErrorCode == "E001" && res.Data!="" && res.Data.length>0) {
                    let content='';
                    let picUrl=recom.data.reqUrl.journalsPicUrl;
                    for(i=0;i<res.Data.length;i++){
                        let item=res.Data[i];
                        content+='<div class="recommend-item">'
                            +'    <a href="'+recom.data.reqUrl.magadetailUrl+item.Code+'.htm" target="_blank" title="'+item.Title+'">'
                            +'        <img src="'+item.CoverUrl.replace(/\/small\//,"\/mid\/")+'"  onerror="javascript:this.src=\''+picUrl+item.Code.substr(0,4)+'.jpg\';this.onerror=null;">'
                            +'    </a>'
                            +'    <a class="name" href="'+item.SourceUrl+'" target="_blank" title="'+item.Title+'">'+item.Title+'</a>'
                            +'    <p class="date">'+recom.getPeriodStrByCode(item.Code)+'</p>'
                            +'</div>';
                    }
                    $("#relevantjournals").find(".recommend-items").html(content);
                    $("#relevantjournals").show();
                }else{
                    $("#relevantjournals").hide();
                }
            },
            renderRelevantBooks:function(res){
                if (res.error == "" && res.total!=undefined && res.total>0) {
                    let content='';
                    for(i=0;i<res.rows.length;i++){
                        let item=res.rows[i];
                        let bookUrl=recom.data.reqUrl.bookdetailUrl+item.sku;
                        content+='<div class="recommend-item">'
                            +'    <a href="'+bookUrl+'" target="_blank" title="'+item.title+'">'
                            +'        <img src="static/picture/1c03764cacd14abdbb834c67da372c0a.gif'+item.sku+'.jpg" alt="">'
                            +'    </a>'
                            +'    <a class="name" href="'+bookUrl+'" target="_blank" title="'+item.title+'">'+item.title+'</a>'
                            +'    <p class="date">'+item.Author+'  '+item.CompiledType+'</p>'
                            +'</div>';
                    }
                    $("#relevantbooks").find(".recommend-items").html(content);
                    $("#relevantbooks").show();
                }else{
                    $("#relevantbooks").hide();
                }
            },
            renderRelevantToolBooks:function(res){
                if (res.ErrorCode == "E001" && res.Data!="" && res.Data.length>0) {
                    let content='';
                    for(i=0;i<res.Data.length;i++){
                        let item=res.Data[i];
                        content+='<a class="booksuggest-item" href="'+item.SourceUrl+'" target="_blank" title="'+item.Title+'">'
                            +'    <span class="booksuggest-item-decorate">●</span>'
                            +'    <span class="booksuggest-item-name">'+item.Title+'</span>'
                            +'    <span class="booksuggest-item-author">'+item.Author+'</span>'
                            +'    <span class="booksuggest-item-publish">'+item.Publisher+'</span>'
                            +'</a>';
                    }
                    $("#relevanttoolbooks").find(".recommend-body").html(content);
                    $("#relevanttoolbooks").show();
                }else{
                    $("#relevanttoolbooks").hide();
                }
            },
            reqData:function(url,params,callback){
                $.ajax({
                    type: "Get",
                    url: url,
                    data: params,
                    dataType: "JSONP",
                    success: function (res) {
                        if(callback!=undefined &&typeof callback=="function"){
                            callback(res);
                        }
                    },
                    error:function(e){
                        console.log(e);
                    }
                });
            },
            initRecom:function(){
                let that=this;
                that.getRelevantJournals();
                that.getRelevantBooks();
                that.getRelevantToolBooks();
            }

        };

        //键盘按下 鼠标按下只触发一次
        $("body").one("keydown click",function(){
            getRecom();
        });

        //滚动条滚动
        $(window).scroll(function(event){
            var scrollTop = $(window).scrollTop();
            if (scrollTop > 100) {
                getRecom();
            }

        });
        function getRecom(){
            if(!recom.data.recomRequested){
                recom.data.recomRequested=true;
                recom.initRecom();
            }
        }



        $(".recommend").find(".change").click(function(){
            $this=$(this);
            let type=$this.data("type");
            switch (type){
                case 1:
                    recom.getRelevantJournals();
                    break;
                case 2:
                    recom.getRelevantBooks();
                    break;
                case 3:
                    recom.getRelevantToolBooks();
                    break;
            }
        });


    </script>
</div>
    </div>
</div>
<div>
    <div class="footer">
        <div class="footer-body clearfix">
            <div class="footer-1">
                <a class="footer-logo" href="https://mall.cnki.net/" target="_blank">
                    <img src="static/picture/footerlogo.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="">
                </a>
                <div class="footer-1-item">
                    出版：《中国学术期刊(光盘版)》电子杂志社有限公司
                </div>
                <div class="footer-1-item">
                    京ICP证040431号 网络出版服务许可证(总)网出证(京)字第271号
                </div>
                <div class="footer-1-item">
                    京公网安备 11010802020460号
                </div>
                <div class="footer-1-item">
                    互联网宗教信息服务许可证：京（2022）0000115
                </div>
                <div class="footer-1-item">
                    违法和不良信息举报电话: 400-062-8866
                </div>
                <div class="footer-1-item">
                    举报邮箱：jubao@cnki.net
                </div>
            </div>
            <div class="footer-2">
                <div class="footer-2-title">
                    阅读服务
                </div>
                <div class="footer-2-body clearfix">
                    <div class="footer-2-item-line clearfix">
                        <a href="/" target="_blank" class="footer-2-item">首页</a>
                        <a href="https://xuewen.cnki.net/" target="_blank" class="footer-2-item">百科</a>
                        <a href="https://pay.cnki.net/zscspay/index" target="_blank" class="footer-2-item">充值中心</a>
                    </div>
                    <div class="footer-2-item-line clearfix">
                        <a href="/magazine/" target="_blank" class="footer-2-item">期刊</a>
                        <a href="/GoCart.aspx?c=1" target="_blank" class="footer-2-item">购物车</a>
                        <a href="https://mall.cnki.net/help/help_QS.html" target="_blank" class="footer-2-item">帮助中心</a>
                    </div>
                    <div class="footer-2-item-line clearfix">
                        <a href="/xinke/" target="_blank" class="footer-2-item">电子书</a>
                        <a href="https://mall.cnki.net/personallib.aspx" target="_blank" class="footer-2-item">数字书房</a>
                        <a href="https://card.cnki.net/orderCard.jsp" target="_blank" class="footer-2-item">订购知网卡</a>
                    </div>
                    <div class="footer-2-item-line clearfix">
                        <a href="/reference/" target="_blank"
                           class="footer-2-item">工具书</a>
<!--                        <a href="https://wuxizazhi.cnki.net/Shenqing/index.html" target="_blank" class="footer-2-item">机构阅览室</a>-->
                        <a href="https://mall.cnki.net/help/azydq.html" target="_blank" class="footer-2-item">下载阅读器</a>
                    </div>
                </div>
            </div>
            <div class="footer-3 clearfix">
                <div class="footer-3-body">
                    <div class="footer-3-title">
                        联系我们
                    </div>
                    <div class="footer-3-item footer-3-item1">
                        订购热线：400-819-9993 010-62982499
                    </div>
                    <div class="footer-3-item footer-3-item2">
                        <a href="https://help.cnki.net" style="color: #D0D0D0" target="_blank">服务咨询：https://help.cnki.net</a>
                    </div>
                    <div class="footer-3-item footer-3-item3">
                        服务邮箱：help@cnki.net
                    </div>
                </div>
                <div class="footer-3-phone">
                    <img src="static/picture/nav4.png;jsessionid=6c62922f041d5b9f726886eb4a9a68ba" alt="" class="footer-3-pic">
                    <div class="footer-3-phone-text">
                        知网阅读App
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <script src="static/js/stat.js" type="text/javascript"></script>
        <!--        <script type="text/javascript">-->
        <!--            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
        <!--            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F30de01e251cf0d9eae32bd93996f09c6' type='text/javascript'%3E%3C/script%3E"));-->
        <!--        </script>-->
    </div>
</div>
<input type="hidden" id="magakZj" value="G">
<input type="hidden" id="magakZt" value="G116">
<input type="hidden" id="asynsysvsm" value="1">
<input type="hidden" id="asyncatalog" value="0">
<input type="hidden" id="articleFileName" value="GRRB202404290062">
<input type="hidden" id="vsm" value="人社:7980,培训讲师:4343,创业经历:2013,教学评估:1796,暂行办法:1467,大学本科:1344,培训计划:1128,培训师:943,教学管理方面:920,范洪:817,">


</body>
<script src="static/js/relrbook.js"></script>
<script>

    function layercataloglist(){
        layer.closeAll();
        var indexDownload = layer.open({
            type: 1,
            title: false,
            closeBtn :2,
            area: ['650px', '562px'],
            content: $('#layercataloglist'),
            fixed:true,
            offset: '100px'
        });
        $("#layui-layer"+indexDownload).css("position","fixed");
    }

    $(function(){
        $(".header .search-box .current-selectCode").attr("data-code","5").find("span").text("文献");
        $("#searchtype").val(5);

        $(".keyword-items .keyword-text").each(function (){
            var that = $(this);
            var text = that.html();
            var href = that.attr("href");
            that.attr("href", href + "?keys=" + encodeURIComponent(text));
        });

        var articletype = "CCND";
        var qrtoken = 'WX001';
        var qrtoken_cnkiapp = 'AA001';
        var articletype_cnkiapp = 'cjfd';
        switch (articletype){
            case "CDFD":
                qrtoken = 'WX002';
                qrtoken_cnkiapp = 'AB001';
                articletype_cnkiapp = 'cdfd';
                break;
            case "CMFD":
                qrtoken = 'WX003';
                qrtoken_cnkiapp = 'AC001';
                articletype_cnkiapp = 'cmfd';
                break;
            case "CPFD":
            case "IPFD":
            case "CIFD":
                qrtoken = 'WX004';
                qrtoken_cnkiapp = 'AD001';
                articletype_cnkiapp = 'cpfd';
                break;
            case "CCND":
                qrtoken = 'WX005';
                qrtoken_cnkiapp = 'AE001';
                articletype_cnkiapp = 'ccnd';
                break;
            default:
                qrtoken = 'WX001';
                qrtoken_cnkiapp = 'AA001';
                articletype_cnkiapp = 'cjfd';
                break;

        }

        var qrurl = 'https://read.cnki.net/appdownload.html?token='+qrtoken+'&code='+"GRRB202404290062"+'&source=mallmagazine';
        qrurl = 'https://wap.cnki.net/cnkiapp.aspx?token='+qrtoken+'&Type=' + articletype_cnkiapp +'&Code='+"GRRB202404290062"+'&source=mallmagazine';
        //二维码
        jQuery('#qrcodeCanvas').qrcode({
            render: "canvas",
            text: qrurl,
            width: "145",
            height: "145",
            background: "#ffffff",
            foreground: "#000000",
            // src: 'https://mall.cnki.net/resources/images/home/qr/cnkireadlogo.png'
        });
    });

</script>
