@charset "utf-8";
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
th,
td,
form,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #000;
}
img {
  border: none;
}
strong,
i {
  font-style: normal;
}
ul,
li,
ol {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
input::-ms-clear {
  display: none;
}
input[type="button"] {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}
/*input { border:0; background-color:transparent;}*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  outline: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.positionR {
  position: relative;
}
.positionA {
  position: absolute;
}
.padding10px {
  padding: 10px;
}
.paddingTB10px {
  padding: 10px 0;
}
.paddingL10px {
  padding-left: 10px;
}
.paddingLR10px {
  padding: 0 10px;
}
.paddingLR15px {
  padding: 0 15px;
}
.paddingB10px {
  padding-bottom: 10px;
}
.marginT10px {
  margin-top: 10px;
}
.marginT15px {
  margin-top: 15px;
}
.overflowHidden {
  overflow: hidden;
}
.positionR {
  position: relative;
}
.textAlignC {
  text-align: center;
}
.displayB {
  display: block;
}
.displayN {
  display: none;
}
.fontWeightN {
  font-weight: normal;
}
.fontSize14px {
  font-size: 14px;
}
.colorGrey {
  color: #999999;
}
/* grey */
.colorYellowishBrown {
  color: #c29721;
}
/* yellowish-brown */
.colorBlackRed {
  color: #331303;
}
.colorRed {
  color: #e9254b;
}
.colorOrange {
  color: #ed5637;
}
.colorWhite {
  color: #fff;
}
.colorYellow {
  color: #cd4502;
}
.colorOrange1 {
  color: #ff9702;
}
.colorBlue {
  color: #0386d9;
}
.bgColorBlue {
  background-color: #5daae2;
}
.bgColorDeepBlue {
  background-color: #5296d0;
}
.bgColorGreen {
  background-color: #55d3a6;
}
.bgColorDeepGreen {
  background-color: #4bbe93;
}
.bgColorFruitGreen {
  background-color: #97b832;
}
.bgColorDeepFruitGreen {
  background-color: #85a32c;
}
.bgColorBrown {
  background-color: #cd913c;
}
.bgColorDeepBrown {
  background-color: #b88035;
}
.bgColorLightGray {
  background-color: #f9f9f9;
}
.borderR1SGrey {
  border-right: 1px solid #dfdfdf;
}
.borderRed {
  border: 1px solid #e60000;
}
.borderWhite {
  border: 1px solid #fff;
}
.borderRed1 {
  border: 1px solid #feb38c;
}
.width1190pxAuto {
  width: 1190px;
  margin: 0 auto;
}
.width1046pxAuto {
  width: 1046px;
  margin: 0 auto;
}
.width808pxAuto {
  width: 808px;
  margin: 0 auto;
}
.width1000pxAuto {
  width: 1000px;
  margin: 0 auto;
}
.width1200pxAuto {
  width: 1200px;
  margin: 0 auto;
}
.width1194pxAuto {
  width: 1194px;
  margin: 0 auto;
}
[v-cloak] {
  display: none;
}
/*mask layer*/
.shade {
  background-color: rgba(191, 191, 191, 0.5);
  position: absolute;
  _background: #bfbfbf;
  _filter: alpha(opacity=50);
  left: 0px;
  top: 0px;
}
/*page layer*/
.page {
  color: #7F7F7F;
  text-align: center;
  padding-top: 50px;
  padding-right: 3px;
  padding-bottom: 50px;
  padding-left: 3px;
}
.page a {
  color: #6a6a6a;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
}
.page a:hover {
  color: #fff;
  background-color: #666666;
}
.page a:active {
  background: none repeat scroll 0 0 #0061de;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  color: #fff;
}
.page span.current {
  background-color: #666666;
  color: #fff;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.page span.disabled {
  color: #378713;
  margin-right: 3px;
  padding: 2px 6px;
}
/*header*/
.pheader {
  height: 71px;
  background-color: #424242;
}
.pheader .phwrap {
  width: 1200px;
  margin: 0 auto;
  height: 71px;
}
.pheader .phwrap {
  width: 1205px;
  margin: 0 auto;
  height: 71px;
}
.pheader .phwrap .logoimg {
  float: left;
  margin-right: 40px;
  font-size: 0;
  padding-left: 6px;
}
.pheader .phwrap .logo {
  float: left;
  height: 71px;
}
.pheader .phwrap .hl {
  line-height: 71px;
  height: 71px;
}
.pheader .phwrap .hl a {
  color: #ffffff;
  font-size: 16px;
  margin-right: 28px;
}
.pheader .phwrap .hl a.cur {
  font-weight: bold;
  color: #ff3000;
}
.pheader .phwrap .hr {
  line-height: 71px;
}
.pheader .phwrap .hr a {
  float: right;
  font-size: 14px;
  color: #ffffff;
}
.pheader .phwrap .hr .line {
  float: right;
  width: 0;
  height: 16px;
  border-left: 1px solid #ffffff;
  margin: 28px 12px 0;
}
.pheader .phwrap .hr .search {
  margin-right: 16px;
  position: relative;
  width: 236px;
  height: 37px;
  margin-top: 18px;
}
.pheader .phwrap .hr .search input {
  float: right;
  border: none;
  width: 0px;
  height: 37px;
  line-height: 37px;
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
}
.pheader .phwrap .hr .search input.click {
  width: 220px;
  padding: 0 8px ;
}
.pheader .phwrap .hr .search .btn {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/icon1.png) no-repeat;
  top: 9px;
  right: 12px;
}
.pheader .phwrap .logo {
  float: left;
  height: 71px;
  margin-right: 20px;
}
/*pfooter*/
.pfooter {
  height: 170px;
  padding-top: 23px;
  background-color: #424242;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #dcdcdc;
  min-width: 1200px;
}
.w1200Auto {
  width: 1200px;
  margin: 0 auto;
}
.pfooter .links {
  margin-left: -20px;
  margin-bottom: 14px;
}
.pfooter a {
  color: #dcdcdc;
}
.pfooter .links a {
  margin: 0 20px;
}
.pfooter .f2,
.pfooter .f3 {
  line-height: 30px;
}
.pfooter .f1,
.pfooter .f3 {
  margin: 0 50px;
}
.pfooter .f1 {
  padding-top: 12px;
}
.pfooter .f2 {
  padding-top: 7px;
}
.pfooter .f3 {
  padding-top: 52px;
}
.pfooter .f4 {
  width: 130px;
  text-align: center;
}
.pfooter .f4 img {
  margin-bottom: 3px;
}
.pfooter .f4 p {
  line-height: 24px;
}
.pfooter .copyright {
  margin-top: 30px;
}
.header .headerWrap .hr .userSelect,
.pheader .phwrap .hr .userSelect,
.aheader .ahwrap div.right .userSelect {
  position: relative;
  max-width: 163px;
  float: right;
}
.header .headerWrap .hr .userSelect .username,
.pheader .phwrap .hr .userSelect .username,
.aheader .ahwrap div.right .userSelect .username {
  cursor: pointer;
  height: 71px;
  line-height: 71px;
  color: #bbb;
  font-size: 12px;
  background: url("../images/usercenter2.png") no-repeat right center;
}
.header .headerWrap .hr .userSelect .username .avatar,
.pheader .phwrap .hr .userSelect .username .avatar,
.aheader .ahwrap div.right .userSelect .username .avatar {
  float: left;
  width: 40px;
  height: 30px;
  margin-top: 18px;
  padding: 0;
}
.header .headerWrap .hr .userSelect .username .avatar img,
.pheader .phwrap .hr .userSelect .username .avatar img,
.aheader .ahwrap div.right .userSelect .username .avatar img {
  display: block;
  width: 30px;
  height: 30px;
  vertical-align: initial !important;
  border-radius: 50%;
}
.header .headerWrap .hr .userSelect .username .name,
.pheader .phwrap .hr .userSelect .username .name,
.aheader .ahwrap div.right .userSelect .username .name {
  float: left;
  max-width: 97px;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px 0 0;
}
.header .headerWrap .hr .userSelect .homeUl,
.pheader .phwrap .hr .userSelect .homeUl,
.aheader .ahwrap div.right .userSelect .homeUl,
.header .headerWrap .hr .userSelect ul,
.pheader .phwrap .hr .userSelect ul,
.aheader .ahwrap div.right .userSelect ul {
  z-index: 500;
  /*position: absolute;*/
  /*top: 70px;*/
  /*right: 0;*/
  /*display: none;*/
  /*padding-bottom: 10px;*/
  /*background-color: #434343;*/
  /*width: 152px;*/
}
.header .headerWrap .hr .userSelect .homeUl .sep,
.pheader .phwrap .hr .userSelect .homeUl .sep,
.aheader .ahwrap div.right .userSelect .homeUl .sep,
.header .headerWrap .hr .userSelect ul .sep,
.pheader .phwrap .hr .userSelect ul .sep,
.aheader .ahwrap div.right .userSelect ul .sep {
  margin: 8px 0;
  border-top: 1px solid #828ea0;
  height: auto;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi,
.pheader .phwrap .hr .userSelect .homeUl .homeLi,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi,
.header .headerWrap .hr .userSelect ul .homeLi,
.pheader .phwrap .hr .userSelect ul .homeLi,
.aheader .ahwrap div.right .userSelect ul .homeLi,
.header .headerWrap .hr .userSelect .homeUl li,
.pheader .phwrap .hr .userSelect .homeUl li,
.aheader .ahwrap div.right .userSelect .homeUl li,
.header .headerWrap .hr .userSelect ul li,
.pheader .phwrap .hr .userSelect ul li,
.aheader .ahwrap div.right .userSelect ul li {
  position: relative;
  /*height: 36px;*/
}
.header .headerWrap .hr .userSelect .homeUl .homeLi a,
.pheader .phwrap .hr .userSelect .homeUl .homeLi a,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi a,
.header .headerWrap .hr .userSelect ul .homeLi a,
.pheader .phwrap .hr .userSelect ul .homeLi a,
.aheader .ahwrap div.right .userSelect ul .homeLi a,
.header .headerWrap .hr .userSelect .homeUl li a,
.pheader .phwrap .hr .userSelect .homeUl li a,
.aheader .ahwrap div.right .userSelect .homeUl li a,
.header .headerWrap .hr .userSelect ul li a,
.pheader .phwrap .hr .userSelect ul li a,
.aheader .ahwrap div.right .userSelect ul li a {
  color: #828ea0;
  font-size: 14px;
  display: block;
  padding-left: 48px;
  background-repeat: no-repeat;
  background-position: 21px center;
  line-height: 36px;
  height: 36px;
  float: none;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi a:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi a:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi a:hover,
.header .headerWrap .hr .userSelect ul .homeLi a:hover,
.pheader .phwrap .hr .userSelect ul .homeLi a:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi a:hover,
.header .headerWrap .hr .userSelect .homeUl li a:hover,
.pheader .phwrap .hr .userSelect .homeUl li a:hover,
.aheader .ahwrap div.right .userSelect .homeUl li a:hover,
.header .headerWrap .hr .userSelect ul li a:hover,
.pheader .phwrap .hr .userSelect ul li a:hover,
.aheader .ahwrap div.right .userSelect ul li a:hover {
  background-color: #545455;
  color: #ffffff;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon1,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon1,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon1,
.header .headerWrap .hr .userSelect ul .homeLi .icon1,
.pheader .phwrap .hr .userSelect ul .homeLi .icon1,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon1,
.header .headerWrap .hr .userSelect .homeUl li .icon1,
.pheader .phwrap .hr .userSelect .homeUl li .icon1,
.aheader .ahwrap div.right .userSelect .homeUl li .icon1,
.header .headerWrap .hr .userSelect ul li .icon1,
.pheader .phwrap .hr .userSelect ul li .icon1,
.aheader .ahwrap div.right .userSelect ul li .icon1 {
  background-image: url("../images/usercenter3-icon1.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon1:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon1:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon1:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon1:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon1:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon1:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon1:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon1:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon1:hover,
.header .headerWrap .hr .userSelect ul li .icon1:hover,
.pheader .phwrap .hr .userSelect ul li .icon1:hover,
.aheader .ahwrap div.right .userSelect ul li .icon1:hover {
  background-image: url("../images/usercenter3-icon1h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon2,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon2,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon2,
.header .headerWrap .hr .userSelect ul .homeLi .icon2,
.pheader .phwrap .hr .userSelect ul .homeLi .icon2,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon2,
.header .headerWrap .hr .userSelect .homeUl li .icon2,
.pheader .phwrap .hr .userSelect .homeUl li .icon2,
.aheader .ahwrap div.right .userSelect .homeUl li .icon2,
.header .headerWrap .hr .userSelect ul li .icon2,
.pheader .phwrap .hr .userSelect ul li .icon2,
.aheader .ahwrap div.right .userSelect ul li .icon2 {
  background-image: url("../images/usercenter3-icon2.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon2:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon2:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon2:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon2:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon2:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon2:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon2:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon2:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon2:hover,
.header .headerWrap .hr .userSelect ul li .icon2:hover,
.pheader .phwrap .hr .userSelect ul li .icon2:hover,
.aheader .ahwrap div.right .userSelect ul li .icon2:hover {
  background-image: url("../images/usercenter3-icon2h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon3,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon3,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon3,
.header .headerWrap .hr .userSelect ul .homeLi .icon3,
.pheader .phwrap .hr .userSelect ul .homeLi .icon3,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon3,
.header .headerWrap .hr .userSelect .homeUl li .icon3,
.pheader .phwrap .hr .userSelect .homeUl li .icon3,
.aheader .ahwrap div.right .userSelect .homeUl li .icon3,
.header .headerWrap .hr .userSelect ul li .icon3,
.pheader .phwrap .hr .userSelect ul li .icon3,
.aheader .ahwrap div.right .userSelect ul li .icon3 {
  background-image: url("../images/usercenter3-icon3.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon3:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon3:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon3:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon3:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon3:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon3:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon3:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon3:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon3:hover,
.header .headerWrap .hr .userSelect ul li .icon3:hover,
.pheader .phwrap .hr .userSelect ul li .icon3:hover,
.aheader .ahwrap div.right .userSelect ul li .icon3:hover {
  background-image: url("../images/usercenter3-icon3h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon4,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon4,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon4,
.header .headerWrap .hr .userSelect ul .homeLi .icon4,
.pheader .phwrap .hr .userSelect ul .homeLi .icon4,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon4,
.header .headerWrap .hr .userSelect .homeUl li .icon4,
.pheader .phwrap .hr .userSelect .homeUl li .icon4,
.aheader .ahwrap div.right .userSelect .homeUl li .icon4,
.header .headerWrap .hr .userSelect ul li .icon4,
.pheader .phwrap .hr .userSelect ul li .icon4,
.aheader .ahwrap div.right .userSelect ul li .icon4 {
  background-image: url("../images/usercenter3-icon4.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon4:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon4:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon4:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon4:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon4:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon4:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon4:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon4:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon4:hover,
.header .headerWrap .hr .userSelect ul li .icon4:hover,
.pheader .phwrap .hr .userSelect ul li .icon4:hover,
.aheader .ahwrap div.right .userSelect ul li .icon4:hover {
  background-image: url("../images/usercenter3-icon4h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon5,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon5,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon5,
.header .headerWrap .hr .userSelect ul .homeLi .icon5,
.pheader .phwrap .hr .userSelect ul .homeLi .icon5,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon5,
.header .headerWrap .hr .userSelect .homeUl li .icon5,
.pheader .phwrap .hr .userSelect .homeUl li .icon5,
.aheader .ahwrap div.right .userSelect .homeUl li .icon5,
.header .headerWrap .hr .userSelect ul li .icon5,
.pheader .phwrap .hr .userSelect ul li .icon5,
.aheader .ahwrap div.right .userSelect ul li .icon5 {
  background-image: url("../images/usercenter3-icon5.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon5:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon5:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon5:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon5:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon5:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon5:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon5:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon5:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon5:hover,
.header .headerWrap .hr .userSelect ul li .icon5:hover,
.pheader .phwrap .hr .userSelect ul li .icon5:hover,
.aheader .ahwrap div.right .userSelect ul li .icon5:hover {
  background-image: url("../images/usercenter3-icon5h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon6,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon6,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon6,
.header .headerWrap .hr .userSelect ul .homeLi .icon6,
.pheader .phwrap .hr .userSelect ul .homeLi .icon6,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon6,
.header .headerWrap .hr .userSelect .homeUl li .icon6,
.pheader .phwrap .hr .userSelect .homeUl li .icon6,
.aheader .ahwrap div.right .userSelect .homeUl li .icon6,
.header .headerWrap .hr .userSelect ul li .icon6,
.pheader .phwrap .hr .userSelect ul li .icon6,
.aheader .ahwrap div.right .userSelect ul li .icon6 {
  background-image: url("../images/usercenter3-icon6.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon6:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon6:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon6:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon6:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon6:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon6:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon6:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon6:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon6:hover,
.header .headerWrap .hr .userSelect ul li .icon6:hover,
.pheader .phwrap .hr .userSelect ul li .icon6:hover,
.aheader .ahwrap div.right .userSelect ul li .icon6:hover {
  background-image: url("../images/usercenter3-icon6h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon7,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon7,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon7,
.header .headerWrap .hr .userSelect ul .homeLi .icon7,
.pheader .phwrap .hr .userSelect ul .homeLi .icon7,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon7,
.header .headerWrap .hr .userSelect .homeUl li .icon7,
.pheader .phwrap .hr .userSelect .homeUl li .icon7,
.aheader .ahwrap div.right .userSelect .homeUl li .icon7,
.header .headerWrap .hr .userSelect ul li .icon7,
.pheader .phwrap .hr .userSelect ul li .icon7,
.aheader .ahwrap div.right .userSelect ul li .icon7 {
  background-image: url("../images/usercenter3-icon7.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon7:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon7:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon7:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon7:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon7:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon7:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon7:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon7:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon7:hover,
.header .headerWrap .hr .userSelect ul li .icon7:hover,
.pheader .phwrap .hr .userSelect ul li .icon7:hover,
.aheader .ahwrap div.right .userSelect ul li .icon7:hover {
  background-image: url("../images/usercenter3-icon7h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon8,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon8,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon8,
.header .headerWrap .hr .userSelect ul .homeLi .icon8,
.pheader .phwrap .hr .userSelect ul .homeLi .icon8,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon8,
.header .headerWrap .hr .userSelect .homeUl li .icon8,
.pheader .phwrap .hr .userSelect .homeUl li .icon8,
.aheader .ahwrap div.right .userSelect .homeUl li .icon8,
.header .headerWrap .hr .userSelect ul li .icon8,
.pheader .phwrap .hr .userSelect ul li .icon8,
.aheader .ahwrap div.right .userSelect ul li .icon8 {
  background-image: url("../images/usercenter3-icon8.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon8:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon8:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon8:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon8:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon8:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon8:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon8:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon8:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon8:hover,
.header .headerWrap .hr .userSelect ul li .icon8:hover,
.pheader .phwrap .hr .userSelect ul li .icon8:hover,
.aheader .ahwrap div.right .userSelect ul li .icon8:hover {
  background-image: url("../images/usercenter3-icon8h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon9,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon9,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon9,
.header .headerWrap .hr .userSelect ul .homeLi .icon9,
.pheader .phwrap .hr .userSelect ul .homeLi .icon9,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon9,
.header .headerWrap .hr .userSelect .homeUl li .icon9,
.pheader .phwrap .hr .userSelect .homeUl li .icon9,
.aheader .ahwrap div.right .userSelect .homeUl li .icon9,
.header .headerWrap .hr .userSelect ul li .icon9,
.pheader .phwrap .hr .userSelect ul li .icon9,
.aheader .ahwrap div.right .userSelect ul li .icon9 {
  background-image: url("../images/usercenter3-icon9.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon9:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon9:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon9:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon9:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon9:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon9:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon9:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon9:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon9:hover,
.header .headerWrap .hr .userSelect ul li .icon9:hover,
.pheader .phwrap .hr .userSelect ul li .icon9:hover,
.aheader .ahwrap div.right .userSelect ul li .icon9:hover {
  background-image: url("../images/usercenter3-icon9h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon10,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon10,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon10,
.header .headerWrap .hr .userSelect ul .homeLi .icon10,
.pheader .phwrap .hr .userSelect ul .homeLi .icon10,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon10,
.header .headerWrap .hr .userSelect .homeUl li .icon10,
.pheader .phwrap .hr .userSelect .homeUl li .icon10,
.aheader .ahwrap div.right .userSelect .homeUl li .icon10,
.header .headerWrap .hr .userSelect ul li .icon10,
.pheader .phwrap .hr .userSelect ul li .icon10,
.aheader .ahwrap div.right .userSelect ul li .icon10 {
  background-image: url("../images/usercenter3-icon10.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon10:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon10:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon10:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon10:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon10:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon10:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon10:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon10:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon10:hover,
.header .headerWrap .hr .userSelect ul li .icon10:hover,
.pheader .phwrap .hr .userSelect ul li .icon10:hover,
.aheader .ahwrap div.right .userSelect ul li .icon10:hover {
  background-image: url("../images/usercenter3-icon10h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon11,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon11,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon11,
.header .headerWrap .hr .userSelect ul .homeLi .icon11,
.pheader .phwrap .hr .userSelect ul .homeLi .icon11,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon11,
.header .headerWrap .hr .userSelect .homeUl li .icon11,
.pheader .phwrap .hr .userSelect .homeUl li .icon11,
.aheader .ahwrap div.right .userSelect .homeUl li .icon11,
.header .headerWrap .hr .userSelect ul li .icon11,
.pheader .phwrap .hr .userSelect ul li .icon11,
.aheader .ahwrap div.right .userSelect ul li .icon11 {
  background-image: url("../images/usercenter3-icon11.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon11:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon11:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon11:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon11:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon11:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon11:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon11:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon11:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon11:hover,
.header .headerWrap .hr .userSelect ul li .icon11:hover,
.pheader .phwrap .hr .userSelect ul li .icon11:hover,
.aheader .ahwrap div.right .userSelect ul li .icon11:hover {
  background-image: url("../images/usercenter3-icon11h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon12,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon12,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon12,
.header .headerWrap .hr .userSelect ul .homeLi .icon12,
.pheader .phwrap .hr .userSelect ul .homeLi .icon12,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon12,
.header .headerWrap .hr .userSelect .homeUl li .icon12,
.pheader .phwrap .hr .userSelect .homeUl li .icon12,
.aheader .ahwrap div.right .userSelect .homeUl li .icon12,
.header .headerWrap .hr .userSelect ul li .icon12,
.pheader .phwrap .hr .userSelect ul li .icon12,
.aheader .ahwrap div.right .userSelect ul li .icon12 {
  background-image: url("../images/usercenter3-icon12.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon12:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon12:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon12:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon12:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon12:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon12:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon12:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon12:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon12:hover,
.header .headerWrap .hr .userSelect ul li .icon12:hover,
.pheader .phwrap .hr .userSelect ul li .icon12:hover,
.aheader .ahwrap div.right .userSelect ul li .icon12:hover {
  background-image: url("../images/usercenter3-icon12h.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon13,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon13,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon13,
.header .headerWrap .hr .userSelect ul .homeLi .icon13,
.pheader .phwrap .hr .userSelect ul .homeLi .icon13,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon13,
.header .headerWrap .hr .userSelect .homeUl li .icon13,
.pheader .phwrap .hr .userSelect .homeUl li .icon13,
.aheader .ahwrap div.right .userSelect .homeUl li .icon13,
.header .headerWrap .hr .userSelect ul li .icon13,
.pheader .phwrap .hr .userSelect ul li .icon13,
.aheader .ahwrap div.right .userSelect ul li .icon13 {
  background-image: url("../images/usercenter3-icon13.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon13:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon13:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon13:hover,
.header .headerWrap .hr .userSelect ul .homeLi .icon13:hover,
.pheader .phwrap .hr .userSelect ul .homeLi .icon13:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon13:hover,
.header .headerWrap .hr .userSelect .homeUl li .icon13:hover,
.pheader .phwrap .hr .userSelect .homeUl li .icon13:hover,
.aheader .ahwrap div.right .userSelect .homeUl li .icon13:hover,
.header .headerWrap .hr .userSelect ul li .icon13:hover,
.pheader .phwrap .hr .userSelect ul li .icon13:hover,
.aheader .ahwrap div.right .userSelect ul li .icon13:hover {
  background-image: url("../images/usercenter3-icon13h.png");
}
.header .headerWrap .hr .userSelect .lib-submenu,
.pheader .phwrap .hr .userSelect .lib-submenu,
.aheader .ahwrap div.right .userSelect .lib-submenu {
  display: none;
  position: absolute;
  left: 152px;
  top: 0;
  width: 163px;
  padding: 12px 0;
  border-radius: 5px;
  background-color: #545454;
}
.header .headerWrap .hr .userSelect .lib-submenu a,
.pheader .phwrap .hr .userSelect .lib-submenu a,
.aheader .ahwrap div.right .userSelect .lib-submenu a {
  line-height: 32px;
  padding-left: 17px;
  background: none;
}
.header .headerWrap .hr .userSelect .lib-submenu a:hover,
.pheader .phwrap .hr .userSelect .lib-submenu a:hover,
.aheader .ahwrap div.right .userSelect .lib-submenu a:hover {
  background-color: #454545;
}
.sharebox {
  position: absolute;
  right: -10px;
  top: 58px;
  width: 40px;
  display: none;
}
.sharebox a {
  width: 40px !important;
  height: 40px !important;
  background: #3c3c3c no-repeat center;
}
.sharebox a.qq {
  margin: 0 0 1px 0;
  background: url("../images/qq.png") center center no-repeat;
}
.sharebox a.wx {
  margin: 0 0 1px 0;
  background: url("../images/wx.png") center center no-repeat;
}
.sharebox a.wb {
  margin: 0 0 1px 0;
  background: url("../images/wb.png") center center no-repeat;
}
.layer-feedback-content {
  display: none;
  padding-top: 40px;
}
.layer-feedback .layui-layer-title {
  height: 44px;
  line-height: 44px;
  background-image: linear-gradient(-90deg, #ff8a58 0%, #ff5956 100%), linear-gradient(#159c77, #159c77);
  background-blend-mode: normal, normal;
  padding-left: 19px;
  font-size: 16px;
  color: #fff;
}
.layer-feedback .layui-layer-content {
  height: 300px !important;
}
.layer-feedback .item {
  margin-bottom: 23px;
}
.layer-feedback label {
  float: left;
  width: 93px;
  line-height: 36px;
  padding-right: 12px;
  text-align: right;
}
.layer-feedback .inputWrap,
.layer-feedback .textWrap {
  float: left;
  width: 488px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  border: solid 1px #e6e6e6;
}
.layer-feedback .textWrap {
  position: relative;
  width: 473px;
  height: 120px;
  padding: 10px 10px 20px;
}
.layer-feedback textarea {
  border: 0;
  width: 100%;
  height: 100%;
  resize: none;
}
.layer-feedback .textWrap .count {
  position: absolute;
  right: 10px;
  bottom: -5px;
  color: #acacac;
  font-family: 'SimSun';
  font-weight: bold;
  font-size: 14px;
}
.layer-feedback input {
  height: 32px;
  line-height: 32px;
  border: 0;
  width: 100%;
}
.layer-feedback .layui-layer-btn a {
  margin: 0 13px;
  padding: 0;
  width: 122px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #b0b0b0;
  font-size: 18px;
}
.layer-feedback .layui-layer-btn .layui-layer-btn0 {
  background-color: #fe3f3c;
}
.layer-feedback .layui-layer-setwin a {
  width: 20px;
  height: 20px;
  background: url(../images/icon2.png) no-repeat;
}
.rightToolbar {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 50%;
  margin-left: 612px;
  z-index: 100;
}
.rightToolbar .item {
  position: relative;
  width: 34px;
  height: 34px;
  margin-bottom: 7px;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #d2d2d2;
  font-family: 'SimSun';
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}
.rightToolbar .item .text {
  display: none;
  height: 26px;
  padding: 4px;
  background-color: #2d82ed;
  color: #ffffff;
}
.rightToolbar .icon {
  width: 100%;
  height: 100%;
}
.rightToolbar .mobile .icon {
  width: 36px;
  height: 36px;
  margin-left: -1px;
  margin-top: -1px;
  border-color: #faa113;
  background: #faa113 url(../images/icon3.png) center no-repeat;
}
.rightToolbar .mobile .qrcode {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -90px;
  left: -375px;
}
.rightToolbar .feedback .icon {
  background: url(../images/icon4.png) center no-repeat;
}
.rightToolbar .goTop .icon {
  background: url(../images/icon5.png) center no-repeat;
}
.rightToolbar .item:hover .text {
  display: block;
}
.rightToolbar .item:hover .icon {
  display: none;
}
.rightToolbar .mobile:hover .qrcode {
  display: block;
}
.link-color{
  color:rgb(214,169,40) !important;
}

.vip-hy{
  background-color: #272424;
  border-radius: 1000px;
  padding: 10px;
  margin: 20px 0;
}
.vip-hy-img{
  float: left;
  width: 30px;
  margin-top: 2px;
}
.vip-hy-text{
  float: left;
  margin-left: 12px;
  color: #ffe09e;
  font-size: 16px;
  line-height: 25px;
}

.vip-hy-btn{
  float: right;
  display: block;
  border-radius: 1000px;
  background-color: #ffe09e;
  color: #272424;
  font-size: 14px;
  line-height: 25px;
  padding: 0 10px;
}
/*# sourceMappingURL=public.css.map */